@font-face {
  font-family: "Valera";
  src: url("../design/Varela.ttf") format("truetype");
}

@font-face {
  font-family: "Jost";
  src: url("../design/Jost.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: url("../design/Rubik.ttf") format("truetype");
}

@font-face {
  font-family: "Corinthia";
  src: url("../design/Corinthia.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --betu-elsodleges: "Jost", "Arial";
  --betu-masodlagos: "Valera", "Arial";
  --fejlec-magassag: 80px;
  --navigacio-meret: 50px;
  --drag-svg-meret: 35px;
  --padding-meret: 10px;
  --margin-meret: 15px;
  --border-radius: 10px;
  --blur-meret: 5px;
  --animacio: transform 0.3s ease-in-out;
  --konstans-feher: #ffffff;
  --konstans-fekete: #000000;
  --valtozo-feher: #ffffff;
  --valtozo-fekete: #000000;
  --tema-szin: #51bdec;
  --invalid-szin: #c8414180;
  --valid-szin: #32e19680;
  --figyelem-szin: #f0f000;
  --tile-szin: #afafaf;
  --tile-szin-atlatszo: #afafaf80;

  --arnyek: 10px 10px 11px -6px rgba(0, 0, 0, 0.5);

  --skalazas: scale(1.05);

  --szin1: linear-gradient(315deg, hsl(0deg 98% 68%) 0%, hsl(6deg 100% 67%) 18%, hsl(12deg 100% 65%) 26%, hsl(19deg 100% 64%) 33%, hsl(24deg 100% 62%) 39%, hsl(30deg 100% 61%) 44%, hsl(35deg 100% 59%) 50%, hsl(40deg 100% 57%) 56%, hsl(45deg 100% 55%) 61%, hsl(49deg 100% 54%) 67%, hsl(53deg 100% 53%) 74%, hsl(56deg 100% 54%) 82%, hsl(60deg 100% 57%) 100%);
  --szin3: linear-gradient(315deg, hsl(39deg 100% 57%) 0%, hsl(41deg 100% 57%) 18%, hsl(42deg 100% 58%) 26%, hsl(44deg 99% 58%) 33%, hsl(46deg 99% 59%) 39%, hsl(47deg 98% 59%) 44%, hsl(49deg 97% 60%) 50%, hsl(51deg 96% 61%) 56%, hsl(53deg 95% 62%) 61%, hsl(56deg 94% 63%) 67%, hsl(58deg 92% 64%) 74%, hsl(61deg 93% 65%) 82%, hsl(64deg 100% 68%) 100%);
  --szin2: linear-gradient(315deg, hsl(116deg 73% 49%) 0%, hsl(108deg 70% 52%) 18%, hsl(103deg 70% 55%) 26%, hsl(99deg 70% 57%) 33%, hsl(95deg 71% 60%) 39%, hsl(92deg 71% 63%) 44%, hsl(88deg 72% 65%) 50%, hsl(85deg 72% 68%) 56%, hsl(82deg 73% 71%) 61%, hsl(79deg 74% 74%) 67%, hsl(76deg 75% 77%) 74%, hsl(74deg 77% 80%) 82%, hsl(71deg 79% 83%) 100%);
  --szin4: linear-gradient(315deg, hsl(218deg 73% 49%) 0%, hsl(209deg 100% 44%) 18%, hsl(206deg 100% 45%) 26%, hsl(203deg 100% 46%) 33%, hsl(201deg 100% 46%) 39%, hsl(198deg 100% 47%) 44%, hsl(195deg 100% 47%) 50%, hsl(195deg 87% 55%) 56%, hsl(194deg 84% 62%) 61%, hsl(192deg 82% 67%) 67%, hsl(190deg 80% 73%) 74%, hsl(187deg 79% 78%) 82%, hsl(183deg 79% 83%) 100%);
  --szin5: linear-gradient(315deg, hsl(75deg 100% 57%) 0%, hsl(73deg 98% 57%) 18%, hsl(71deg 95% 57%) 26%, hsl(68deg 93% 58%) 33%, hsl(66deg 90% 58%) 39%, hsl(64deg 88% 58%) 44%, hsl(62deg 85% 59%) 50%, hsl(59deg 84% 60%) 56%, hsl(57deg 87% 61%) 61%, hsl(55deg 91% 63%) 67%, hsl(53deg 94% 65%) 74%, hsl(51deg 97% 66%) 82%, hsl(49deg 100% 68%) 100%);
  --szin6: linear-gradient(315deg, hsl(271deg 73% 49%) 0%, hsl(266deg 71% 54%) 18%, hsl(262deg 72% 58%) 26%, hsl(258deg 74% 62%) 33%, hsl(255deg 76% 65%) 39%, hsl(252deg 78% 68%) 44%, hsl(249deg 79% 71%) 50%, hsl(246deg 81% 74%) 56%, hsl(243deg 81% 76%) 61%, hsl(240deg 82% 78%) 67%, hsl(238deg 82% 80%) 74%, hsl(236deg 81% 81%) 82%, hsl(234deg 79% 83%) 100%);
  --szin7: linear-gradient(315deg, hsl(158deg 32% 45%) 0%, hsl(166deg 36% 45%) 18%, hsl(172deg 40% 45%) 26%, hsl(177deg 42% 46%) 33%, hsl(182deg 43% 47%) 39%, hsl(186deg 44% 50%) 44%, hsl(189deg 50% 54%) 50%, hsl(193deg 55% 58%) 56%, hsl(196deg 60% 62%) 61%, hsl(200deg 64% 66%) 67%, hsl(204deg 69% 70%) 74%, hsl(208deg 75% 75%) 82%, hsl(214deg 80% 79%) 100%);
  --szin8: linear-gradient(315deg, hsl(278deg 100% 62%) 0%, hsl(278deg 100% 65%) 18%, hsl(279deg 100% 67%) 26%, hsl(279deg 100% 69%) 33%, hsl(279deg 100% 71%) 39%, hsl(280deg 100% 73%) 44%, hsl(280deg 100% 75%) 50%, hsl(281deg 100% 77%) 56%, hsl(281deg 100% 79%) 61%, hsl(282deg 100% 80%) 67%, hsl(282deg 100% 82%) 74%, hsl(283deg 100% 84%) 82%, hsl(283deg 100% 86%) 100%);
  --szin9: linear-gradient(315deg, hsl(24deg 35% 42%) 0%, hsl(26deg 33% 44%) 18%, hsl(27deg 31% 46%) 26%, hsl(29deg 29% 49%) 33%, hsl(30deg 28% 51%) 39%, hsl(32deg 29% 54%) 44%, hsl(34deg 30% 57%) 50%, hsl(35deg 31% 59%) 56%, hsl(37deg 32% 62%) 61%, hsl(39deg 33% 65%) 67%, hsl(41deg 34% 67%) 74%, hsl(43deg 35% 70%) 82%, hsl(46deg 36% 73%) 100%);

  --delete-svg-meret: 35px;
  --delete-svg-szin: var(--konstans-feher);

  --hatter-kep: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23e7e7e7' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23d0d0d0' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23b8b8b8' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23a1a1a1' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23898989' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  --valtozo-hatter-szin: rgba(255, 255, 255, 1);

  --nav-arnyek: "";

  --szin1: #2f7eac;
  --szin2: #1d987a;
  --szin3: #ce5c4b;
  --szin4: #c88e6f;
  --szin5: #eacc57;
  --szin6: #1ab1bc;
  --szin7: #a1e17e;
  --szin8: #d1ba96;
  --szin9: #c18fff;
}

body {
  font-family: var(--betu-masodlagos);
  color: var(--valtozo-fekete);
  font-size: 18px;
  line-height: 1.5;
  background-image: var(--hatter-kep);
  background-color: var(--valtozo-hatter-szin);
  background-attachment: fixed;
  background-size: cover;
}

.tile,
.subtile,
button,
select,
summary,
a,
img,
svg {
  cursor: pointer;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  margin-top: var(--margin-meret);
  font-family: var(--betu-elsodleges);
  margin-bottom: 20px;
  padding-left: var(--padding-meret);
}

.tile {
  border-radius: var(--border-radius);
  background-color: var(--tile-szin-atlatszo);
  padding: var(--padding-meret);
  border: 2px solid var(--konstans-fekete);
  backdrop-filter: blur(var(--blur-meret));
  -webkit-backdrop-filter: blur(var(--blur-meret));
  filter: saturate(1.3);
  transition: var(--animacio);
  color: var(--konstans-fekete);
  font-size: 1.2em;
}

.subtile {
  border-radius: var(--border-radius);
  padding: var(--padding-meret);
  border: 2px solid var(--konstans-fekete);
  transition: var(--animacio);
  color: var(--konstans-fekete);
  font-size: 1.1em;
  vertical-align: text-top;
}

.tile:hover,
.subtile:hover {
  transform: var(--skalazas);
}

.tile:nth-child(1),
.subtile:nth-child(2) {
  background: var(--szin1);
}
.tile:nth-child(2),
.subtile:nth-child(3) {
  background: var(--szin2);
}
.tile:nth-child(3),
.subtile:nth-child(4) {
  background: var(--szin3);
}
.tile:nth-child(4),
.subtile:nth-child(5) {
  background: var(--szin4);
}
.tile:nth-child(5),
.subtile:nth-child(6) {
  background: var(--szin5);
}
.tile:nth-child(6),
.subtile:nth-child(7) {
  background: var(--szin6);
}
.tile:nth-child(7),
.subtile:nth-child(8) {
  background: var(--szin7);
}
.tile:nth-child(8),
.subtile:nth-child(9) {
  background: var(--szin8);
}
.tile:nth-child(9),
.subtile:nth-child(10) {
  background: var(--szin9);
}

.tile:has(table),
.tile:has(.subtile) {
  background: none !important;
  background-color: none !important;
  -webkit-box-shadow: var(--arnyek);
  -moz-box-shadow: var(--arnyek);
  cursor: unset;
  box-shadow: none;
  color: var(--valtozo-fekete);
  border: 2px solid var(--valtozo-fekete);
  font-size: 1em;
}

.selected:not(:has(table)) {
  filter: saturate(2);
  text-decoration: underline;
  -webkit-box-shadow: var(--arnyek);
  -moz-box-shadow: var(--arnyek);
  box-shadow: var(--arnyek);
  transition: var(--animacio);
  transform: var(--skalazas);
}

.inactive:not(:has(table)) {
  filter: saturate(0.9);
  filter: contrast(0.8);
}

.unimportant {
  text-decoration: line-through;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
}

.hidden {
  display: none;
}

#buttons button {
  width: 50px;
  height: 50px;
  background-color: var(--konstans-fekete);
  border: none;
  border-radius: 25px;
  fill: var(--konstans-feher);
}
#buttons {
  margin: var(--margin-meret);
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

summary {
  font-weight: bold;
}

.circled {
  background-color: var(--figyelem-szin);
  margin-left: calc(var(--margin-meret) * 0.5);
  border: 2px solid var(--konstans-fekete);
  width: 28px;
  height: 28px;
  border-radius: 15px;
  color: var(--konstans-fekete);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table tr:first-child {
  border-bottom: 2px solid var(--valtozo-fekete);
}

table td:first-child {
  width: 25%;
  overflow: hidden;
}

table td:not(:first-child) {
  text-align: center;
  overflow: hidden;
}

table tr:hover,
table tr:focus,
table tr.highlight {
  color: var(--tema-szin);
}

div[id^="step"] {
  padding: var(--padding-meret);
  border-radius: var(--border-radius);
  flex-grow: 1;
}

.delete-button:hover {
  --delete-svg-szin: red;
}

#buttons button {
  transition: var(--animacio);
}
#buttons button:hover {
  transform: scale(1.1);
}

header {
  padding: var(--padding-meret);
  background-color: var(--konstans-fekete);
  color: var(--konstans-feher);
  fill: var(--konstans-feher);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

nav {
  color: var(--valtozo-fekete);
  padding: calc(var(--padding-meret) * 2);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  pointer-events: none;
  opacity: 0;
  text-shadow: var(--nav-arnyek);
}

nav.shown {
  display: block;
  pointer-events: auto;
  animation: becsuszas 0.5s ease 0s 1 normal forwards;
}

nav.not-shown {
  display: block;
  animation: kicsuszas 0.5s ease 0s 1 normal forwards;
}

nav ul li,
#settings {
  font-family: var(--betu-elsodleges);
  font-size: 1.1em;
  margin-top: var(--margin-meret);
  list-style: none;
}

.sublist li {
  margin-top: calc(var(--margin-meret) * 0.2);
  margin-left: var(--margin-meret);
  font-size: 0.85em;
  list-style: inside;
}

nav svg {
  width: calc(var(--navigacio-meret) * 0.7);
  vertical-align: bottom;
  margin-right: calc(var(--margin-meret) * 0.5);
  fill: var(--valtozo-fekete);
}

#settings {
  position: absolute;
  bottom: 0;
  margin-bottom: var(--margin-meret);
}

nav a:hover {
  color: var(--tema-szin);
}
nav a:hover svg {
  fill: var(--tema-szin);
}

nav hr {
  border: 1px solid var(--valtozo-fekete);
  margin-bottom: calc(var(--margin-meret) * 2);
  margin-top: calc(var(--margin-meret) * 2);
}

#settings svg:first-child {
  cursor: unset;
}

#settings svg:not(:first-child) {
  cursor: unset;
  width: calc(var(--navigacio-meret) * 0.5);
  margin-left: calc(var(--margin-meret) * 1.5);
  margin-right: calc(var(--margin-meret) * 0.1);
}

#main-actions {
  margin-top: calc(var(--margin-meret) * 0.66);

  width: 50%;
  display: flex;
  justify-content: flex-start; /* Distributes space between buttons */
}

#main-actions button {
  flex: 1; /* Makes the buttons equal in width */
  margin: calc(var(--margin-meret) * 0.33);
  min-height: 55px;
  font-size: 1.1em;
  border-radius: var(--border-radius);
  border: none;
  font-family: var(--betu-elsodleges);
  background-color: var(--tile-szin);
  min-width: 175px;
}

#main-actions button:hover {
  transform: scale(1.05);
}

#main-actions button:nth-child(1) {
  background-color: var(--konstans-fekete);
  color: var(--konstans-feher);
}

#main-actions button:nth-child(2) {
  background-color: var(--tema-szin);
}

#counter {
  background-color: var(--tile-szin-atlatszo);

  padding: calc(var(--padding-meret) * 1);
  font-family: "Jost";
  border-radius: var(--border-radius);
  backdrop-filter: blur(var(--blur-meret));
  -webkit-backdrop-filter: blur(var(--blur-meret));
  width: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(161, 161, 161, 1) 0%, rgba(217, 217, 217, 0) 100%);
}
#counter p {
  font-size: 80px;
  font-weight: bold;
  display: inline;
  color: var(--tema-szin);
  font-family: "Rubik";
  padding-left: var(--padding-meret);
}

h4 {
  font-weight: normal;
  font-size: 1.1em;
  padding-left: var(--padding-meret);
  font-family: "Jost";
}

#counter svg {
  position: absolute;
  top: 80%;
  right: 30px;
  transform: translate(50%, -50%) scale(1, -1) rotate(40deg);
  width: 300px;
  fill: var(--valtozo-fekete);
  cursor: unset;
}

#upcoming li,
#donate li {
  margin-left: calc(var(--margin-meret) * 2);
}

#upcoming,
#donate {
  margin-top: calc(var(--margin-meret) * 2);
  margin-bottom: calc(var(--margin-meret) * 2);
  text-shadow: var(--nav-arnyek);
}

.draggable h3 {
  padding-left: var(--padding-meret);
  font-family: var(--betu-elsodleges);
}

#step2 .draggable {
  align-items: center;
  justify-items: center;
  height: 50px;
  margin-bottom: calc(var(--margin-meret) * 0.33);
  background-color: var(--tile-szin-atlatszo);
  border-radius: var(--border-radius);
  backdrop-filter: blur(var(--blur-meret));
  -webkit-backdrop-filter: blur(var(--blur-meret));
  cursor: grab;
}

#step2 input,
#step2 select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 1rem;
  border-radius: calc(var(--border-radius) * 0.7);
  border: none;
  height: 80%;
  width: calc(100% - 5px);
  margin-left: 5px;
  padding-left: var(--padding-meret);
}

#step2 svg {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#step2 .draggable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.blur {
  backdrop-filter: blur(var(--blur-meret));
  -webkit-backdrop-filter: blur(var(--blur-meret));
  color: var(--valtozo-fekete);
  border: none;
  background-color: var(--tile-szin-atlatszo) !important;
}

.blur svg {
  padding: var(--padding-meret);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#donate {
  margin-top: 0;
  margin-bottom: 0;
}

#donate a {
  text-decoration: underline;
}

#donate a:hover {
  color: var(--tema-szin);
}
signature {
  display: inline-block;
  margin-left: var(--margin-meret);
  font-size: 1.6em;
  font-family: "Corinthia", "Times New Roman";
  vertical-align: top;
  transform: rotate(350deg);
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

div[id^="step"]:not(:has(.draggable)) {
  padding-left: var(--padding-meret);
  padding-right: var(--padding-meret);
}

/* Reszponzivitás */
.tile {
  aspect-ratio: 1/1;
}

.subtile {
  margin: calc(var(--margin-meret) / 2);
}

.tile:has(.subtile),
.tile:has(table) {
  min-height: 100px;
  width: 100%;
  aspect-ratio: unset;
  margin-bottom: var(--margin-meret);
}

.draggable {
  display: grid;
  grid-template-columns: 60% 30% 10%;
  margin: calc(var(--margin-meret) / 2);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  height: var(--fejlec-magassag);
}

nav {
  position: fixed;
  right: 0;
  height: calc(100% - var(--fejlec-magassag));
  transform: translateX(100%);
  z-index: 9999;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo-container img {
  height: 50px;
  width: auto;
}

article {
  margin-top: var(--fejlec-magassag);
}

@media (max-width: 600px) {
  :root {
    --skalazas: scale(1.01);
  }
  div[id^="step"]:not(.single-column):not(.triple-column) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margin-meret);
  }

  .tile .subtile {
    display: inline-block;
    width: calc(100% / 2 - var(--margin-meret));
    aspect-ratio: 1/1;
  }

  table td:first-child {
    width: 25%;
    overflow: hidden;
  }

  #buttons button {
    width: 6em;
    height: 6em;
    border-radius: 6em;
  }

  nav {
    width: 50vw;
  }

  article {
    height: 80vh;
    overflow-y: scroll;
    padding: calc(var(--padding-meret) * 1.5);
  }

  #main-actions {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  :root {
    --skalazas: scale(1.02);
  }
  div[id^="step"]:not(.single-column):not(.triple-column) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: var(--margin-meret);
  }

  .tile .subtile {
    display: inline-block;
    width: calc(100% / 3 - var(--margin-meret));
    aspect-ratio: 1/1;
  }

  article,
  #buttons {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: var(--padding-meret);
  }

  nav {
    width: 35vw;
    max-width: 300px;
  }

  #buttons button {
    width: 6em;
    height: 6em;
    border-radius: 6em;
  }

  article:not(:has(table)) {
    height: 75vh;
    overflow-y: scroll;
  }
}

@media (min-width: 1025px) {
  div[id^="step"]:not(.single-column):not(.triple-column) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--margin-meret);
  }

  details {
    display: table;
  }

  .tile .subtile {
    display: inline-block;
    width: calc(100% / 5 - var(--margin-meret));
    aspect-ratio: 1/1;
  }

  article,
  #buttons {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: var(--padding-meret);
  }

  nav {
    width: 25vw;
    max-width: 350px;
  }

  #buttons button {
    width: 5em;
    height: 5em;
    border-radius: 5em;
  }
}

@keyframes becsuszas {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes kicsuszas {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}
